# Set newline behavior, overriding core.autocrlf if set.

# MS-Windows users may have core.autocrlf=true to allow use of any  
# Microsoft text editor to edit code. But this is overwritten below
# because our files are used in virtual Linux and must have LF
# newlines. A Windows editor that can handle LF newlines (PSpad + 
# others) must be used to edit code.

# "auto" means Git decides if the file is text and normalizes text 
# files' newlines to LF upon checkin.
* text=auto

# Declare files that will always have LF line endings on checkout, 
# because these files will not function with the virtual Linux machine 
# unless they have LF newlines.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.docx binary
*.idx binary
*.png binary
