
.divineName { font-variant: small-caps; }
.small, .sub, .sup  { font-size: .83em; }
.sub             { vertical-align: sub; }
.sup             { vertical-align: super; }
.overline   { text-decoration: overline; }
.wordsOfJesus { color:red;}

.poetic-line {
  text-indent:-1.5em;
  padding-left:1.5em;
}

.poetic-line.x-to-next-level {
  text-indent:-3em;
  padding-left:3em;
}

.x-noindent {
	text-indent: 0;
}

.x-indent-0 {
	margin-left: 0;
}
.x-indented-1,
.x-indent-1 {
	margin-left: 1.5em;	
}
.x-indented-2,
.x-indent-2 {
	margin-left: 3em;		
}
.x-indented-3,
.x-indent-3 {
	margin-left: 4.5em;
}
.x-indented-4,
.x-indent-4{
	margin-left: 6em;
}
.x-right{
	text-align: right;
}

h1, h2, h3 {
  clear: both;
  page-break-after: avoid;
}

h3, h4 {
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold;
  text-align: center;
}

p, div {
  margin-top: 0;
  margin-bottom:0;
}


p {
	text-indent: 1em
}

dfn {
	font-weight: bold;
}

table {
	border: 0;
}

.first-para {
	text-indent: 0
}

.first-line {
	text-indent: 0
}

.canonical {
  font-style:italic;
}

.book-subtitle {
  text-align: center;
}

.x-chapter-title {
  text-decoration: underline;
}

.x-chapter-number {
  font-size: 3em; 
  float: left; 
  margin-right: 5px;
  text-indent: 0  
}

.x-introduction {
	background-color:#ebebeb
}

.x-glossary-link {
	background-color: #f0ffff;
	text-decoration: none;
	color: black;
}

.heading {
  font-weight: bold;
  text-align: center;
}

.alt-var {
  font-style: italic;
}

.foreign {
  font-style: italic;
}

.transChange {
  font-style: italic;
}

.glossary-entry {
  margin-bottom: 1em;
  margin-top: 1em;
}

